@font-face {
  font-family: 'Trajan Pro';
  src: local('TrajanPro-Regular'),
    url('../fonts/TrajanPro-Regular.woff2') format('woff2'),
    url('../fonts/TrajanPro-Regular.woff') format('woff'),
    url('../fonts/TrajanPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: local('Baskerville'), url('../fonts/Baskerville.woff2') format('woff2'),
    url('../fonts/Baskerville.woff') format('woff'),
    url('../fonts/Baskerville.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
